<div class="container">
  <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" style="margin-top: 1rem;" role="alert">
      <%= error %>
    </div>
    <% } else if(success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
        <%= success %>
      </div>
      <% } %>
</div>