<footer class="footer">
    <div class="container">
        <div class="text-center">
            <span class="text-muted">Copyright © ConstManager 2018</span>
        </div>
    </div>
</footer>

<script src="/js/main.js"></script>
<script src="/vendor/js/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
</body>

</html>