<% include partials/header %>

<body>
    <div class="container">
        <header class="jumbotron">
            <h2>Company Name Goes Here</h2>
        </header>

        <h3>Current Projects</h3>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Project number</th>
                    <th>Project name</th>
                    <th>Date created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% projects.forEach(function(project, i){ %>
                    <td>
                        <%= i %>
                    </td>
                    <td>
                        <%= project.projectNumber %>
                    </td>
                    <td>
                        <%= project.projectName %>
                    </td>
                    <td>
                        <%= project.projectDateCreated %>
                    </td>
                    <td>
                        <a href="#">
                            <i class="fas fa-folder-open" aria-hidden="true"></i>
                        </a>
                    </td>
            </tbody>
            <% }); %>
                <tr id="addProject">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <strong> New project</strong>
                    </td>
                    <td>
                        <a href="/dashboard/new">
                            <i class="fas fa-plus" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
        </table>
    </div>

    <% include partials/footer %>