<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ConstManager: Construction Software & Management</title>
  <link rel="stylesheet" href="/css/landing.css">
  <link rel="stylesheet" href="/vendor/css/fontawesome-all.css">
  <link rel="stylesheet" href="/vendor/css/bootstrap.css">
  <link rel="stylesheet" href="/vendor/css/sb-admin.css">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">
      ConstManager
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" data-placement="right">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown" data-placement="right">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item" data-placement="right">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item ml-2">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search website">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li>
          <a class="nav-link" href="/login">
            <i class="fa fa-fw fa-sign-out-alt"></i>Log-In</a>
        </li>
        <!-- Modal for future use -->
        <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out-alt"></i>Log-In</a>
                </li> -->
      </ul>
    </div>
  </nav>
  <!-- Navbar end -->

  <div class="content-wrapper" style="padding-top: 0">
    <div class="jumbotron jumbotron-fluid" id="j-style">
      <h1 class="display-6" id="j-text">Start improving your construction business.</h1>

      <div class="container" id="landing-reg">
        <h4 id="sign-style">Sign up now for free</h3>
          <p id="sign-style">Let's start with your e-mail and company name.</p>
          <div class="row">
            <div class="col-sm">
              <form>
                <input type="email" class="form-control landing-input" id="registerEmail" placeholder="e-mail">

                <input type="text" class="form-control landing-input" id="companyName" placeholder="Company Name">

                <button type="submit" class="btn btn-lg btn-light btn-block">Next</button>
              </form>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
          </div>
      </div>
    </div>

    <div>
      <img src="../images/arch-curv.jpg" class="img-fluid img-responsive" alt="Responsive image"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias ipsum officiibackground image fluids nihil dolore,
      libero atque dolorem labore doloribus, voluptate quas consequatur deserunt reprehenderit explicabo eveniet ab amet
      velit aperiam architecto.
    </div>
    <div class="container-fluid">

      <!-- Content -->
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia saepe, eum placeat dicta sit ab incidunt a error
        natus doloribus esse assumenda ipsa voluptatum commodi ipsum. Exercitationem magni dolorem nam.</p>
      <p>Quod facere, molestias porro necessitatibus cupiditate vitae officia reiciendis expedita possimus omnis pariatur tempora
        accusantium fugit eaque maxime inventore placeat unde tenetur. Ab magni molestias blanditiis sunt officia unde nobis.</p>
      <p>Voluptate odit molestias cupiditate saepe veniam numquam voluptatem natus eveniet, quaerat suscipit voluptatibus eum
        facere dolor officiis eos quod explicabo inventore quia corrupti voluptates illo deleniti totam? Asperiores, facilis
        dolorem.
      </p>
      <p>Ex alias accusantium natus quidem similique molestias dignissimos vel optio tempora voluptates facilis saepe quis unde
        illum corrupti eaque, esse tempore doloribus pariatur blanditiis? Facere ex dolor velit vero rerum!</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni vero impedit quam, soluta corporis recusandae iure
        quidem cumque voluptates eos ducimus placeat inventore similique sed ullam tempora. Itaque, eum? Consectetur!</p>
      <p>Nihil, obcaecati minima facilis beatae repudiandae quisquam in quas explicabo voluptate. Harum doloremque vel autem
        nisi modi. Hic blanditiis nostrum, asperiores doloremque maxime maiores modi veritatis, ad, consequatur minima mollitia.</p>
      <p>Quo, laborum. Fuga mollitia sunt, odio dignissimos impedit laborum, ipsam ipsum accusamus esse iure, distinctio libero
        neque quam aliquid tempore numquam magni rem quas dolores illo? Impedit iure consequuntur voluptatem.</p>
      <p>Culpa cum quaerat similique sit facere velit atque mollitia distinctio ullam dignissimos eius officia officiis minus,
        eligendi maiores enim magnam consequuntur. Odit expedita eveniet quasi ratione. Voluptatum, consequuntur. Et, delectus?</p>
      <p>Nobis reprehenderit excepturi labore ut iste placeat ullam itaque recusandae nihil dolore animi, libero assumenda quo
        numquam ex, minima officia laudantium tenetur! Iure dolor eveniet magni temporibus modi alias velit.</p>
      <p>Maxime quis beatae rem obcaecati minus eaque dignissimos sit ipsa facere, consectetur voluptate nemo blanditiis. Tenetur
        molestiae animi, exercitationem quis provident, nihil dolore perspiciatis cum vero, quisquam amet! Libero, numquam.</p>
      <p>Accusamus deserunt consectetur facere aut reiciendis dolor, molestias obcaecati soluta nostrum sequi magni. Impedit
        dolorem, inventore laboriosam architecto corrupti officiis placeat tempore ratione a, aliquam quae consequatur? Inventore,
        asperiores reprehenderit?</p>
      <p>Nam, tenetur sunt placeat consequuntur veritatis similique quos perspiciatis fugiat fugit dolor adipisci. Nihil numquam
        magni molestias, eveniet magnam aliquid voluptate deleniti sequi autem. Vel harum odit soluta eum aut.
      </p>
      <p>Doloremque, excepturi quibusdam adipisci, dolores, ut qui eaque molestias porro ea enim pariatur architecto nemo minus
        ducimus odio nobis explicabo? Minima debitis dolores repellendus vitae praesentium laudantium, illum esse corporis?</p>
      <p>Corrupti sunt non, dicta illo totam similique necessitatibus vitae consectetur expedita. Amet itaque, reprehenderit
        corporis, consequatur reiciendis natus quisquam ad odio accusantium temporibus ducimus vitae tenetur vero voluptatibus
        at error?</p>
      <!-- Content -->

      <!-- footer -->
      <footer class="sticky-footer">
        <div class="container">
          <div class="text-center">
            <small>Copyright © ConstManager 2018</small>
          </div>
        </div>
      </footer>
      <!-- footer end -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
      <!-- Scroll to Top Button end -->

      <!-- Modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign-In below.</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end -->

      <script src="/js/main.js" type="module"></script>
      <script src="/vendor/js/jquery.min.js"></script>
      <!-- <script src="/vendor/js/bootstrap.min.js"></script> -->
      <script src="/vendor/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/js/jquery.easing.min.js"></script>
      <script src="/vendor/js/sb-admin.min.js"></script>
    </div>
</body>

</html>