<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ConstManager: Construction Software & Management</title>

  <link rel="stylesheet" href="/vendor/css/fontawesome-all.css">
  <!-- <link rel="stylesheet" href="/vendor/css/fontawesome-all.min.css"> -->
  <link rel="stylesheet" href="/vendor/css/bootstrap.css">
  <!-- <link rel="stylesheet" href="/vendor/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/vendor/css/sb-admin.css">
  <!-- <link rel="stylesheet" href="/vendor/css/sb-admin.min.css"> -->
  <link rel="stylesheet" href="/css/landing.css">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">
      <img src="/images/logo/constmanager_small.svg" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" data-placement="right">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown" data-placement="right">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item" data-placement="right">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item ml-2">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search website">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li>
          <a class="nav-link" href="/login">
            <i class="fa fa-fw fa-sign-out-alt"></i>Log-In</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navbar end -->

  <!-- Content -->
  <div class="content-wrapper" style="padding-top: 0">
    <div class="jumbotron jumbotron-fluid" id="j-style">
      <h1 class="display-6" id="j-text">Start improving your construction business.</h1>
      <h4 class="font-weight-light">Get the best tools for managing your business right now.</h4>
    </div>



    <div class="container-fluid" id="landing-reg">
      <div class="row justify-content-center">
        <div class="col-md-auto">
          <h4 id="sign-style">Sign up now for free</h3>
            <p id="sign-style">Let's start with your e-mail and company name.</p>

            <form>
              <div class="input-group input-group-lg landing-input">
                <input type="email" class="form-control landing-input" id="registerEmail" placeholder="e-mail">
              </div>

              <div class="input-group input-group-lg landing-input">
                <input type="text" class="form-control " id="companyName" placeholder="Company Name">
              </div>

              <button type="submit" class="btn btn-lg btn-light btn-block next-button">Next</button>

              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                <label class="custom-control-label" for="customControlAutosizing">I agree to ConstManager’s
                  <a data-toggle="modal" data-target="#terms" href="#"><u>Terms of Service</u></a>.
                </label>
              </div>


            </form>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 secondary-text ">
          <p class="font-weight-light">Or scroll down to find out more.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid whatis">
      <div class="container">
        <h3 class="titles">What is ConstManager?</h3>
        <p> ConstManager is a complete tool for managing small to medium sized companies active in the construction
          industry.</p>
        <p>Whether you own a construction, structural design, architecture or quantity surveying company, ConstManager
          has the
          right tool
          ready for you to manage your business.
        </p>

        <h3 class="titles">Why ConstManager?</h3>

        <div class="row description">
          <div class="col-sm-12 ">
            <i class="fa fa-fw fa-chart-pie fa-4x"></i>
            <br>
            <h4>
              <strong>Company Finances</strong>
            </h4>
            <p>Manage company income and expenses over time periods, all shown in easy to read graphs or print P&L
              statements.
              Invoicing can be done automatically from the app at prearranged dates.</p>
          </div>
        </div>

        <div class="row description">
          <div class="col-md-12">
            <i class="fa fa-fw fa-euro-sign fa-4x"></i>
            <br>
            <h4>
              <strong>Easy Fee Proposals</strong>
            </h4>
            <p>Set-up rates and client databases and together with personalised forms and tools for estimating
              time costs,
              tendering was never easier. Send fee proposals directly from the app.</p>
          </div>
        </div>

        <div class="row description">
          <div class="col-md-12">
            <i class="fa fa-fw fa-sitemap fa-4x"></i>
            <br>
            <h4>
              <strong>Project Monitoring</strong>
            </h4>
            <p>Monitor project fees, employees time expenses and project progression. Automatic reminders for key dates
              will allow you to always stay on top of any deadlines.</p>
          </div>
        </div>

        <div class="row description">
          <div class="col-md-12">
            <i class="fa fa-fw fa-database fa-4x"></i>
            <br>
            <h4>
              <strong>Information In One Place</strong>
            </h4>
            <p>Go paperless and manage all files and documents in one place. With constant server back-ups you can rest
              assured
              that the information required is always available.</p>
          </div>
        </div>

        <div class="row description">
          <div class="col-md-12">
            <i class="fa fa-fw fa-user-friends fa-4x"></i>
            <br>
            <h4>
              <strong>Customer focus</strong>
            </h4>
            <p>Manage marketing and further develop customer relationships and set goals for customer expectations.
              Send automatic email cards and invites to events from your organisation.</p>
          </div>
        </div>

        <div class="row description">
          <div class="col-md-12">
            <i class="fa fa-fw fa-share-alt fa-4x"></i>
            <br>
            <h4>
              <strong>ISO 9000</strong>
            </h4>
            <p>Quality management principles can be ensured through ConstManager's personalized workflows and
              activities. Alos maintain people training
              records and skills development and assess individual performance.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid content">
      <div class="container ">
        <h3>Looking for more information?</h3>
        <p> Get in thouch with us and we'll contact you. We can arrange a demonstration and discuss any specific
          requirements for your own organisation.</p>
        <p> Use the form below to give us some information and also describe your company in a few words and we'll get back to you as soon as possible.</p>

        <div class="container contactForm">
          <form>
            <div class="form-group">
              <label for="contactFormEmail">Email address</label>
              <input type="email" class="form-control" id="contactFormEmail" placeholder="name@example.com">
            </div>

            <div class="form-group">
              <label for="contactFormCmpanyName">Company Name</label>
              <input type="text" class="form-control" id="contactFormCmpanyName">
            </div>

            <div class="form-group">
              <label for="contactFormCompanyType">Example select</label>
              <select class="form-control" id="contactFormCompanyType">
                <option>Property Developer</option>
                <option>Contractor</option>
                <option>Architect</option>
                <option>Engineer</option>
                <option>Other, please state in the description.</option>
              </select>
            </div>

            <div class="form-group">
              <label for="contactFormMessage">Company description</label>
              <textarea class="form-control" id="contactFormMessage" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-lg btn-light btn-block next-button">Send</button>
          </form>
        </div>
        <div class="container" id="social-media">
          <hr>
          <div class="row description">
            <div class="col-md-4">
                <a class="nav-link" href="https://www.twitter.com/constmanager">
                  <i class="fab fa-fw fa-twitter fa-2x"></i></a>
            </div>
            <div class="col-md-4">
                <a class="nav-link" href="https://www.facebook.com/constmanager">
              <i class="fab fa-fw fa-facebook fa-2x"></i></a>
            </div>
            <div class="col-md-4">
              <a class="nav-link" href="https://www.linkedin.com/company/constmanager">
              <i class="fab fa-fw fa-linkedin-in fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Content -->


  <div class="container-fluid">



    <!-- footer -->
    <footer class="sticky-footer">
      <div class="text-center">
        <small>Copyright © ConstManager 2018</small>
      </div>
    </footer>
    <!-- footer end -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Scroll to Top Button end -->

    <!-- Modal-->
    <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Terms and conditions go here!</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end -->
    <!-- comment -->

    <script src="/js/main.js" type="module"></script>
    <script src="/vendor/js/jquery.min.js"></script>
    <!-- <script src="/vendor/js/bootstrap.min.js"></script> -->
    <script src="/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/js/jquery.easing.min.js"></script>
    <script src="/vendor/js/sb-admin.min.js"></script>
  </div>
</body>

</html>