<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ConstManager: Construction Software & Management</title>
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/vendor/css/fontawesome-all.css">
    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/css/sb-admin.css">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">
            ConstManager
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active" data-placement="right">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown" data-placement="right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item" data-placement="right">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item ml-2">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search website">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li>
                    <a class="nav-link" href="/login">
                        <i class="fa fa-fw fa-sign-out-alt"></i>Log-In</a>
                </li>
                <!-- Modal for future use -->
                <!-- <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out-alt"></i>Log-In</a>
                </li> -->
            </ul>
        </div>
        <!-- <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-th-list"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Projects">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-user-cog"></i>
            <span class="nav-link-text">
              Whaaat???
            </span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Projects">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-industry"></i>
            <span class="nav-link-text">Projects</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Calendar">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-calendar-alt"></i>
            <span class="nav-link-text">Calendar</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Financial">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-chart-line"></i>
            <span class="nav-link-text">Financial</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Employees">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Employees</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Employees">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-toolbox"></i>
            <span class="nav-link-text">Company account</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Management">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-project-diagram"></i>
            <span class="nav-link-text">Management</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Marketing">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Marketing</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Clients">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-user-friends"></i>
            <span class="nav-link-text">Clients</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Suppliers">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Suppliers</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Social media">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-share-alt"></i>
            <span class="nav-link-text">Social media</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">New Messages:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>David Miller</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end
                of the box so they don't overflow over to the sides!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Jane Smith</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>John Doe</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can
                discuss distribution.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all messages</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all alerts</a>
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out-alt"></i>Logout</a>
        </li>
      </ul>
    </div> -->
    </nav>
    <div class="content-wrapper" style="padding-top: 0">
        <div >
            <img src="../images/arch-curv.jpg" class="img-fluid img-responsive" alt="Responsive image">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias ipsum officiibackground image fluids nihil dolore, libero atque dolorem labore doloribus, voluptate quas consequatur deserunt reprehenderit explicabo eveniet ab amet velit aperiam architecto.
        </div>
        <div class="container-fluid">

            <!-- Content -->
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia saepe, eum placeat dicta sit ab incidunt a
                error natus doloribus esse assumenda ipsa voluptatum commodi ipsum. Exercitationem magni dolorem nam.</p>
            <p>Quod facere, molestias porro necessitatibus cupiditate vitae officia reiciendis expedita possimus omnis pariatur
                tempora accusantium fugit eaque maxime inventore placeat unde tenetur. Ab magni molestias blanditiis sunt
                officia unde nobis.</p>
            <p>Voluptate odit molestias cupiditate saepe veniam numquam voluptatem natus eveniet, quaerat suscipit voluptatibus
                eum facere dolor officiis eos quod explicabo inventore quia corrupti voluptates illo deleniti totam? Asperiores,
                facilis dolorem.</p>
            <p>Ex alias accusantium natus quidem similique molestias dignissimos vel optio tempora voluptates facilis saepe
                quis unde illum corrupti eaque, esse tempore doloribus pariatur blanditiis? Facere ex dolor velit vero rerum!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni vero impedit quam, soluta corporis recusandae
                iure quidem cumque voluptates eos ducimus placeat inventore similique sed ullam tempora. Itaque, eum? Consectetur!</p>
            <p>Nihil, obcaecati minima facilis beatae repudiandae quisquam in quas explicabo voluptate. Harum doloremque vel
                autem nisi modi. Hic blanditiis nostrum, asperiores doloremque maxime maiores modi veritatis, ad, consequatur
                minima mollitia.</p>
            <p>Quo, laborum. Fuga mollitia sunt, odio dignissimos impedit laborum, ipsam ipsum accusamus esse iure, distinctio
                libero neque quam aliquid tempore numquam magni rem quas dolores illo? Impedit iure consequuntur voluptatem.</p>
            <p>Culpa cum quaerat similique sit facere velit atque mollitia distinctio ullam dignissimos eius officia officiis
                minus, eligendi maiores enim magnam consequuntur. Odit expedita eveniet quasi ratione. Voluptatum, consequuntur.
                Et, delectus?</p>
            <p>Nobis reprehenderit excepturi labore ut iste placeat ullam itaque recusandae nihil dolore animi, libero assumenda
                quo numquam ex, minima officia laudantium tenetur! Iure dolor eveniet magni temporibus modi alias velit.</p>
            <p>Maxime quis beatae rem obcaecati minus eaque dignissimos sit ipsa facere, consectetur voluptate nemo blanditiis.
                Tenetur molestiae animi, exercitationem quis provident, nihil dolore perspiciatis cum vero, quisquam amet!
                Libero, numquam.</p>
            <p>Accusamus deserunt consectetur facere aut reiciendis dolor, molestias obcaecati soluta nostrum sequi magni. Impedit
                dolorem, inventore laboriosam architecto corrupti officiis placeat tempore ratione a, aliquam quae consequatur?
                Inventore, asperiores reprehenderit?</p>
            <p>Nam, tenetur sunt placeat consequuntur veritatis similique quos perspiciatis fugiat fugit dolor adipisci. Nihil
                numquam magni molestias, eveniet magnam aliquid voluptate deleniti sequi autem. Vel harum odit soluta eum
                aut.
            </p>
            <p>Doloremque, excepturi quibusdam adipisci, dolores, ut qui eaque molestias porro ea enim pariatur architecto nemo
                minus ducimus odio nobis explicabo? Minima debitis dolores repellendus vitae praesentium laudantium, illum
                esse corporis?</p>
            <p>Corrupti sunt non, dicta illo totam similique necessitatibus vitae consectetur expedita. Amet itaque, reprehenderit
                corporis, consequatur reiciendis natus quisquam ad odio accusantium temporibus ducimus vitae tenetur vero
                voluptatibus at error?</p>
            <!-- Content -->

            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright © ConstManager 2018</small>
                    </div>
                </div>
            </footer>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>
            <!-- Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sign-In below.</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/js/main.js" type="module"></script>
            <script src="/vendor/js/jquery.min.js"></script>
            <!-- <script src="/vendor/js/bootstrap.min.js"></script> -->
            <script src="/vendor/js/bootstrap.bundle.min.js"></script>
            <script src="/vendor/js/jquery.easing.min.js"></script>
            <script src="/vendor/js/sb-admin.min.js"></script>
        </div>
</body>

</html>