/* .landing-title-image  {
  background-image:url('../images/arch-curv.jpg');
  background-size:100% auto;
  height: 400px;
} */
@media (max-width: 767px) {
  #j-text{
    font-size: 2.5rem !important;
    float: none;
  }

  .contactForm{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 350px) {
  #j-text{
    font-size: 2rem !important;
    float: none;
  }
}

@media (min-width: 768px) {
  .contactForm{
    padding-left: 0px;
    padding-right: 300px;
  }
}

@media (min-width: 992px) {
  .container{
      max-width: 720px;
      float: none;
  }

  .contactForm{
    padding-left: 0px;
    padding-right: 300px;
  }
}

@media (min-width: 1200px) {
  .container{
      max-width: 720px;
      float: none;
  }

  .contactForm{
    padding-left: 0px;
    padding-right: 300px;
  }
}

.landing-input{
  padding-left: 0px;
  padding: 0px;
  width: 100%;
  margin-bottom: 1rem;
  /* background-color: #678cb1 !important; */
}

.content{
  background-color: #678cb1 !important;
  color: whitesmoke;
  padding-top: 4%;
  padding-bottom: 4%;
}

.whatis{
  padding-top: 5%;
}

.description{
  text-align: center;
  padding-top: 2%;
}

.secondary-text{
  text-align: center;
  color: white;
  padding-top: 2%;
}

.next-button{
  margin-bottom: 1rem;
}

.titles{
  color:#d33d5c;
}

#j-style{
  text-align: center;
  background-color: #6e8dad;
  margin-bottom: 0px;
  color: whitesmoke;
}

#j-text{
  text-decoration-color: aliceblue;
  font-weight: 600;
  padding: 0% 8% 0% 8%;
  font-size: 3.5rem;
}

#sign-style{
  text-align: left;
}


#landing-reg{
  background-color: #6e8dad;
  color: whitesmoke;
  padding-bottom: 4%;
}

#social-media{
  padding-top: 1rem;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

a { color: inherit; } 
a:hover { color: inherit; } 
