  /* Jumbotron margin */
  .jumbotron {
    margin-top: 10px;
  }

  /* Remove top margin border to tables in nav-tabs*/
  .table td, .table th{
    border-top: none !important;
  }


  /* Add margin to form in tablist */
  .tablist-views{
    padding-top: 10px;
  }

.topMargin{
  margin-top: 15px;
}

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
