<div class="container">
  <h4>Timesheet week starting from: 28.05.2018</h4>
</div>
<form class="tablist-views" action="/<%= currentCompany._id %>/user/<%= currentUser._id %>" method="POST">
  <div style="margin-bottom: 10px">
    <div class="input-group">
      <span class="form-control tsCellH">#</span>
      <span class="form-control tsCellH">Project</span>
      <span class="form-control tsCellH">Name</span>
      <span class="form-control tsCellH">Description</span>
      <span class="form-control tsCellH">Mon</span>
      <span class="form-control tsCellH">Tue</span>
      <span class="form-control tsCellH">Wed</span>
      <span class="form-control tsCellH">Thu</span>
      <span class="form-control tsCellH">Fri</span>
      <span class="form-control tsCellH">Sat</span>
      <span class="form-control tsCellH">Sun</span>
      <span class="form-control tsCellH">Total</span>
    </div>

    <div class="input-group">
      <input type="text" class="form-control tsCell" name="timesheet[projectNumber]">
      <span type="text" class="form-control tsCell" name="timesheet[projectName]"></span>
      <input type="text" class="form-control tsCell" name="timesheet[description]">
      <input type="number" class="form-control tsCell" name="timesheet[mon]">
      <input type="number" class="form-control tsCell" name="timesheet[tue]">
      <input type="number" class="form-control tsCell" name="timesheet[wed]">
      <input type="number" class="form-control tsCell" name="timesheet[thu]">
      <input type="number" class="form-control tsCell" name="timesheet[fri]">
      <input type="number" class="form-control tsCell" name="timesheet[sat]">
      <input type="number" class="form-control tsCell" name="timesheet[sun]">
      <span type="text" class="form-control tsCell" name="timesheet[total]"></span>
    </div>
    <div class="input-group">
      <input type="text" class="form-control tsCell" name="timesheet[projectNumber]">
      <span type="text" class="form-control tsCell" name="timesheet[projectName]"></span>
      <input type="text" class="form-control tsCell" name="timesheet[description]">
      <input type="number" class="form-control tsCell" name="timesheet[mon]">
      <input type="number" class="form-control tsCell" name="timesheet[tue]">
      <input type="number" class="form-control tsCell" name="timesheet[wed]">
      <input type="number" class="form-control tsCell" name="timesheet[thu]">
      <input type="number" class="form-control tsCell" name="timesheet[fri]">
      <input type="number" class="form-control tsCell" name="timesheet[sat]">
      <input type="number" class="form-control tsCell" name="timesheet[sun]">
      <span type="text" class="form-control tsCell" name="timesheet[total]"></span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit!</button>
</form>