<div class="container-fluid">
  <h4>
    <i class="fa fa-fw fa-calendar-alt plm"></i>Timesheets
  </h4>
  <h6>
      <i class="fa fa-fw fa-question" 
      data-toggle="tooltip"
      data-html="true"  
      data-placement="right" 
      title="
      <div class='text-justify'>
      Codes for non-projects: <br/>
      Holidays: hol <br/>
      Public holiday: phl <br/>
      Training: tra <br/>
      Doctor: doc <br/>
      Sick time: sck <br/>
      </div>"></i>
      <%= currentCompany %>
  </h6>
 
  <div class="container sheetPick">
    <div class="row no-gutters">
      <div class="col-auto">
        <h5>
          <a class="fa fa-fw fa-chevron-left previousSheet" href="#" style="text-decoration: none;"></a>
        </h5>
      </div>
      <div class="col-auto">
        <h5>Week starting:</h5>
      </div>
      <div class="col-auto datePicker">
        <h5><input type="text" name="date" id="timesheetDate"></h5>
      </div>
      <div class="col-auto">
        <h5>
          <a class="fa fa-fw fa-chevron-right nextSheet" href="#" style="text-decoration: none;"></a>
        </h5>
      </div>
    </div>
  </div>
</div>



<link rel="stylesheet" href="/css/timesheets.css">
<!-- <link rel="stylesheet" href="/css/timesheets.min.css"> -->
<link rel="stylesheet" href="/vendor/css/DatePickerX.css">
<!-- <link rel="stylesheet" href="/vendor/css/DatePickerX.min.css"> -->


<div class="container-fluid">

  <table class="table table-bordered table-hover text-center table-sm table-responsive timesheetTable">
    <thead class="tableHeader">
      <tr>
        <th style="width: 5%;">#</th>
        <th style="width: 10%;">Project</th>
        <th style="width: 15%;">Name</th>
        <th style="width: 25%;">Description</th>
        <th style="width: 5%;">Mon</th>
        <th style="width: 5%;">Tue</th>
        <th style="width: 5%;">Wed</th>
        <th style="width: 5%;">Thu</th>
        <th style="width: 5%;">Fri</th>
        <th style="width: 5%;">Sat</th>
        <th style="width: 5%;">Sun</th>
        <th style="width: 4%;">Total</th>
        <th style="width: 6%;">Delete</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th class="add-row" colspan="2"><i class="fa fa-fw fa-plus-circle" href="#"></i> Add row</th>
        <th class="totalHours" colspan="2">TOTAL HOURS</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          <input id="projectNumber" type="text" autocomplete="nope">
        </td>
        <td>
          <input id="projectName" type="text" disabled autocomplete="nope">
        </td>
        <td>
          <input type="text" autocomplete="nope">
        </td>
        <td>
          <input step="0.1" min="0" type="number" autocomplete="nope" value="0">
        </td>
        <td>
          <input step="0.1" min="0" type="number" autocomplete="nope" value="0">
        </td>
        <td>
          <input step="0.1" min="0" type="number" autocomplete="nope" value="0">
        </td>
        <td>
          <input step="0.1" min="0" type="number" autocomplete="nope" value="0">
        </td>
        <td>
          <input step="0.1" min="0" type="number" autocomplete="nope" value="0">
        </td>
        <td>
          <input step="0.1" min="0" type="number" autocomplete="nope" value="0">
        </td>
        <td>
          <input step="0.1" min="0" type="number" autocomplete="nope" value="0">
        </td>
        <td>0</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="tableButtons">
    <a class="btn btn-primary btn-save-timesheet" href="#">Save</a>
  </div>

  <div class="tableButtons">
    <a class="btn btn-primary" data-toggle="modal" data-target="#submitTimesheetModal" href="#">Submit</a>
  </div>

  <div class="tableButtons">
    <a class="btn btn-primary btn-new-timesheet" href="#">New Timesheet</a>
  </div>
</div>


<!-- Submit Modal-->
<div class="modal fade" id="submitTimesheetModal" tabindex="-1" role="dialog" aria-labelledby="submitTimesheetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submitTimesheetModalLabel">Ready to submit?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">You will not be able to modify the timesheet once it has been submitted.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary btn-submit-timesheet" data-dismiss="modal" href="#">Submit</a>
            </div>
        </div>
    </div>
</div>


<script src="/js/timesheets.js" type="module"></script>
<script src="/vendor/js/DatePickerX.js"></script>