  <h4>Timesheet week starting from: 28.05.2018</h4>

<link rel="stylesheet" href="/css/timesheets.css">



<form class="tablist-views" action="/<%= currentCompany._id %>/user/<%= currentUser._id %>" method="POST">

  <table class="table table-bordered table-hover text-center table-sm table-responsive newRow calculateTotal">
      <thead class="tableHeader">
          <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 10%;">Project</th>
              <th style="width: 15%;">Name</th>
              <th style="width: 25%;">Description</th>
              <th >Mon</th>
              <th >Tue</th>
              <th >Wed</th>
              <th >Thu</th>
              <th >Fri</th>
              <th >Sat</th>
              <th >Sun</th>
              <th>Total</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th class="totalHours" colspan="4">TOTAL HOURS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      <tbody>
              <td>1</td>
              <td><input type="text" name="timesheet[projectNumber]"></td>
              <td name="timesheet[projectName]"></td>
              <td><input type="text" name="timesheet[projectDescription]"></td>
              <td><input type="number" name="timesheet[mon]" value="7.5"></td>
              <td><input type="number" name="timesheet[tue]"></td>
              <td><input type="number" name="timesheet[wed]"></td>
              <td><input type="number" name="timesheet[thu]"></td>
              <td><input type="number" name="timesheet[fri]"></td>
              <td><input type="number" name="timesheet[sat]"></td>
              <td><input type="number" name="timesheet[sun]"></td>
              <td type="number" name="timesheet[projectTotal]"></td>
      </tbody>
  </table>

    <div class="tableButtons">
      <a class="btn btn-primary saveSheet" href="#">Save</a>
    </div>

  <button type="submit" name="submit" class="btn btn-primary">Submit</button>

</form>

<script src="/js/timesheets.js"></script>