<% include ../partials/header %>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active"><%= project.projectName %></li>
</ol>

<p><%= project.projectName %></p>
<p><%= project.projectNumber %></p>

<% include ../partials/footer %>