<% include ../partials/header %>

<link rel="stylesheet" href="/css/company_admin.css">

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/<%= currentCompany._id %>/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Admin</li>
</ol>


<!-- ========================== CONTENT =============================== -->

<ul class="nav nav-tabs" id="companyAdminInfoTab" role="tablist">
    <!-- Settings tab -->
    <li class="nav-item">
        <a class="nav-link settings-tab active" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"
            aria-selected="true">Settings</a>
    </li>

    <!-- Timesheets navs -->
    <li class="nav-item dropdown">
        <a class="nav-link timesheet-tab dropdown-toggle" id="timesheet-tab" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Timesheets</a>

        <div class="dropdown-menu">
            <a class="dropdown-item timesheet-btn" id="time-sheet-tab" data-toggle="tab" href="#time-sheet" role="tab"
                aria-controls="time-sheet" aria-selected="false">Time Sheets</a>

            <a class="dropdown-item" id="time-sheet-settings-tab" data-toggle="tab" href="#time-sheet-settings" role="tab" aria-controls="time-sheet-settings" aria-selected="false">Timesheet Settings</a>
        </div>
    </li>
</ul>

<div class="tab-content" id="companyAdminInfoTabContent">
    <!-- Setting tab -->
    <div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <h4>Content to be added</h4>
    </div>

    <!-- Timesheets tab -->
    <div class="tab-pane fade" id="time-sheet" role="tabpanel" aria-labelledby="time-sheet">
            <p><% include ./partials/timesheets %></p>
    </div>

    <div class="tab-pane fade" id="time-sheet-settings" role="tabpanel" aria-labelledby="time-sheet-settings">
            <p><% include ./partials/timesheet_settings %></p>
    </div>
</div>
<br>

<!-- ========================== END OF CONTENT =============================== -->

<% include ../partials/footer %>