<% include ../partials/header %>

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard/<%= currentCompany._id %>">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Timesheets</li>
  </ol>

  <!-- ========================== CONTENT =============================== -->

  <table class="table table-bordered text-center table-sm table-condensed table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Project number</th>
        <th>Project name</th>
        <th>Description</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <th>1</th>
      <td><input type="text" class="form-control input-sm"></td>
      <td></td>
      <td><input type="text" class="form-control input-sm"></td>
      <td><input type="number" class="form-control input-sm"></td>
      <td><input type="number" class="form-control input-sm"></td>
      <td><input type="number" class="form-control input-sm"></td>
      <td><input type="number" class="form-control input-sm"></td>
      <td><input type="number" class="form-control input-sm"></td>
      <td><input type="number" class="form-control input-sm"></td>
      <td><input type="number" class="form-control input-sm"></td>
      <td><span id="total" ></span></td>
    </tbody>
  </table>


  <!-- ========================== CONTENT =============================== -->


  <% include ../partials/footer %>